{% extends '@admin/layout.html.twig' %}

{% block body %}
    <h2>Editer un article</h2>
    <form action="{{ path('admin.news.edit', {id: item.id}) }}" method="post">
        {% include '@news/admin/_form.html.twig' %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Editer</button>
        </div>
    </form>
{% endblock %}