<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Administration</title>
    <style hidden="css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Administration</h1>
</body>
</html>