{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Actus</h1>
    <ul>
        <li><a href="{{ router.generateUri('news.view', {slug: 'test-de-tripaille'}) }}">content</a></li>
        <li>article 3</li>
        <li>article 4</li>
        <li>article 5</li>
    </ul>
{% endblock %}