{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Actus</h1>
    <ul>
        {% for n in news %}
            <li><a href="{{ path('news.view', {slug: n.slug, id: n.id}) }}">{{ n.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}