<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Framework{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
<main>
  {% block header %}
      {% include "partials/_header.html.twig" %}
  {% endblock %}
  {% block body %}{% endblock %}

</main>
<span class="has-text-light">Univers-Toine - 2023 | <small>Les icônes RPG par <a target="_blank" href="https://icons8.com">Icons8</a></small></span>
</body>
</html>
